################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/visinometer/Debug
/visinometer/.vs/visinometer/v16
/visinometer/__vm
